//Colors
.is-primary {
  background-color: var(--primary-color) !important;
}
.is-secondary {
  background-color: var(--secondary-color) !important;
}
.is-tertiary {
  background-color: var(--tertiary-color) !important;
}

//Border
.b-sixth{
    border-color: var(--seventh-color) !important;
}