//Colors
.is-primary {
  background-color: var(--primary-color) !important;
}
.is-secondary {
  background-color: var(--secondary-color) !important;
}
.is-tertiary {
  background-color: var(--tertiary-color) !important;
  color: var(--sixth-color) !important;
  &.is-tertiary:focus {
    box-shadow: none;
  }
  &.is-tertiary:active {
    box-shadow: none;
  }
}

//Border
.b-sixth {
  border-color: var(--seventh-color) !important;
}

//Footer
.footer {
  background-color: var(--sixth-color);
  padding: 0.9rem 0.1rem 1rem;
}

//Columns
.columns {
  margin: 0;
}

//Input
.input {
  &.input:focus {
    border-color: var(--seventh-color);
    box-shadow: 0 0 0.075em var(--seventh-color);
  }
  &.input:hover {
    border-color: var(--seventh-color);
  } 
}
