@import "./font.scss";
@import "./layout.scss";
@import "./bulma-override.scss";
@import "./elements.scss";
@import "./effects.scss";

:root {
  --primary-color: #62b6cb;
  --secondary-color: #bee9e8;
  --tertiary-color: #1b4965;
  --quaternary-color: #cae9ff;
  --fifth-color: #000;
  --sixth-color: #fff;
  --seventh-color: #696969;

  --font-light: "JosefinSans-Light";
  --font-medium: "JosefinSans-Medium";
}

html {
  background-color: var(--secondary-color);
}

h1 {
  @include font-generate(var(--font-medium), 36px, var(--fifth-color));
}
h2 {
  @include font-generate(var(--font-medium), 25px, var(--fifth-color));
}
h3 {
  @include font-generate(var(--font-light), 22px, var(--seventh-color));
}
p,
button,
input {
  @include font-generate(var(--font-light), 20px, var(--fifth-color));
}
